body {
  background-image: url("resources/Light-Wood-Background-Texture.jpg");
  background-size: cover;
}

img {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 12%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.clock-figure {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 12%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.hour-hand {
  background-color: black;
  width: 175px;
  height: 7px;

  position: absolute;
  top: 296px;
  left: 125px;

  transform-origin: 100%;
  transform: rotate(189deg);
  transition: all 0.05s; 
  transition-timing-function: cubic-bezier(.1,2.7,0.58,1);  /*Gives the hand a realistic motion*/
}

.minute-hand {
  background-color: black;
  width: 225px;
  height: 5px;

  position: absolute;
  top: 296.5px;
  left: 75px;

  transform-origin: 100%;
  transform: rotate(19deg);
  transition: all 0.05s; 
  transition-timing-function: cubic-bezier(.1,2.7,0.58,1);
}

.second-hand {
  background-color: #df294e;
  width: 225px;
  height: 4px;

  position: absolute;
  top: 297px;
  left: 75px;

  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s; 
  transition-timing-function: cubic-bezier(.1,2.7,0.58,1);
}
